.app {
  text-align: center;
}

.header {
  background-color: #a7edff;
  height: 100px;
  padding: 20px;
  color: black;
}

.intro {
  font-size: large;
  padding-top: 20px;
}

.list {
  list-style: none;
}

.list > li {
  padding: 1rem;
  text-decoration: none;
}

.selected {
  color: red;
}

menu a {
  margin: 0 10px;
}