.Profile {
  text-align: center;
}

.Profile-header {
  background-color: #a7edff;
  height: 100px;
  padding: 20px;
  color: black;
}

.Profile-intro {
  font-size: large;
  padding-top: 20px;
}

.Profile-resources {
  list-style: none;
}

.Profile-resources > li {
  display: inline-block;
  padding: 1rem;
}